@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
    background-color: hsl(268, 75%, 9%);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 10px;
    margin-top: 50px;
    color: hsl(52, 100%, 62%);
}

.themes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-text{
    padding-right: 15px;
    font-size: xx-small;
}

form{
    background-color: hsl(268, 71%, 12%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

input[type='radio']:after {
    background-color: red;
}

#display{
    height: 60px;
    border: none;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
    font-size: xx-large;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 300px;
    height: 260px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: hsl(268, 71%, 12%);
}

#keys div{
    padding: 10px;
    border: none;
    border-radius: 5px;
    /* background-color: hsl(45, 7%, 89%); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 1px 1px 2px 1px hsl(290, 70%, 36%); */
    /* color: hsl(221, 14%, 31%); */
}

.keypad:hover{
    background-color: hsl(281, 89%, 26%);
}

.keypad{
      background-color: hsl(268, 47%, 21%);
      color: hsl(52, 100%, 62%);
      box-shadow: 1px 1px 2px 1px hsl(290, 70%, 36%);
}

#reset{
    grid-column-start: 1;
    grid-column-end: 3;
    background: hsl(281, 89%, 26%);
    box-shadow: 1px 1px 2px 1px hsl(285, 91%, 52%);
    color: white;
}

#del{
    background: hsl(281, 89%, 26%);
    box-shadow: 1px 1px 2px 1px hsl(285, 91%, 52%);
    color: white;
}

#equal{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: hsl(176, 100%, 44%);
    color: white;
    box-shadow: 1px 1px 2px 1px hsl(177, 92%, 70%);
}


@media only screen and (max-width: 600px){
    .display{
        height: 80px;
    }

    #keys{
        height: 410px;
        width: 320px;
        gap: 15px;
        padding: 15px;
    }

    .theme-text{
        padding-right: 15px;
        font-size: small;
    }

    .calc{
        font-size: xx-large;
    }

    header{
        margin-bottom: 30px;
    }

    #display{
        margin-bottom: 20px;
    }

    #keys div{
        font-size: x-large;
    }
}
